$dark: yellow;
$light: white;
$bright: magenta;
$padding: 10%;

@mixin block_font($block_font_size: 20px, $block_font_color: $light){
  font-size: $block_font_size;
  color: $block_font_color;
}

// Resets, Clearfix, etc

@import 'partials/_reset';
@import 'partials/_clearfix';

// Variables

// Media Query Ranges

body{
  @include block_font();
  background-color: orange;
  text-align: center;
  // color: #EEE;
}

h1, h2, h3, h4{
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

h1{
  padding: 20px;
}

h2{

}

@media screen and (min-width: 600px){ //medium
  body{
    background-color: blue;
    @include block_font(24px, $bright);
  }
}

@media screen and (min-width: 900px){ //medium
  body{
    background-color: purple;
    @include block_font(28px, $dark);
  }
}

// Mixins

// Styles


.block_family{
  max-width:350px;
  margin:auto;
}

.block_family li{
  background-color: #222;
  margin-bottom: 20px;
  padding: 20px;
}